.DS_Store
/**/.idea/
/**/.env
/**/node_modules/
/**/package.lock
/**/yarn-error.log
/**/tmp/uploads/*
!/**/tmp/uploads/.gitkeep
/**/dist/*
/**/tmp/redis/*
/**/tmp/postgres/*
!/**/tmp/redis/.gitkeep
!/**/tmp/postgres/.gitkeep
/**/tsconfig.tsbuildinfo
/**/__tests__/**/database.sqlite
